@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

button{
    border-radius: 13px;
}


body{
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
}

.container{
    padding: 1px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    background-color: #1f2937;
    padding: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
}

.Headerlogo{
    display: flex;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.hero{
    font-family: Roboto;
    width: 100%;
    height: 100vh;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
.hero_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 0;
    max-width: 400px;
}

.placeholder{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 20px;
}

.hero_heading{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero_subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.hero button{
    width: 100px;
    padding:10px;
    border: none;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.contents{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.infos{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content_header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.illustrations{
    display: flex;
    gap: 50px;
}

.infos-placeholder{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 5px solid black;
}

.text{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-width: 150px;
    overflow-wrap: break-word;
}

.quote{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    flex-grow: 0;
}

.main_quote{
    max-width: 1000px;
    overflow-wrap: break-word;
    text-align: left;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.author{
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 30px;
}

.signup{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 1000px;
    height: 200px;
    border-radius: 10px;
    background-color: #3882f6;;
}

.modal_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal_heading{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.modal_subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.modal_button{
    width: 100px;
    padding:10px;
    border: none;
    background-color: #3882f6;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #1f2937;
    font-size: 20px;
    color: white;
}